.service-card {
    border: solid #ccc;
    border-radius: .5rem;
    padding: .5rem;
    text-align: center;
    transition: transform .2s;
    height: 37.5rem;
}

.service-card:hover {
    transform: scale(1.05);
}

.icon-container {
    margin-bottom: .5rem;
}
